.playground {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin-top: 85px;
    min-height: 100vh;
    background: radial-gradient(#000, #1ae);
    align-items: center;
    font-size: 36px;
    padding: 50px;
}

.words {
    background: repeating-linear-gradient(58deg, #999, #300a24, #00f 35px);
    margin-top: 50px;
    text-align: center;
    border: 2px dashed #000;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 50px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    box-shadow: 0 0 5px;
}

.text {
    box-sizing: border-box;
    border-radius: 50px;
    padding: 10px 20px;
    position: absolute;
    left: 40%;
    bottom: 35%;
    width: 20vw;
    outline: none;
    border: none;
    font-size: 25px;
    background-color: #333;
    text-align: center;
}

.invisible {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
